<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        text-align: center;
        padding: 50px;
      }
      h1 {
        color: #2c3e50;
      }
    </style>
  </head>
  <body>
    {{bdata}}

    <h2>Courses Details</h2>
    <table border="1" style="width: 50%; margin: auto; text-align: left">
      <tr>
        <th>Course ID</th>
        <th>Course Name</th>
      </tr>
      {% for course in clist %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ course }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="2">Total Courses: {{ clist|length }}</td>
      </tr>
    </table>

    <br />

    <h2>Student Details</h2>
    <table border="1" style="width: 50%; margin: auto; text-align: left">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Course</th>
      </tr>
      {% for student in students_details %}
      <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.course }}</td>
      </tr>
      {% endfor %}
    </table>

    <br />

    <h2>Numbers List</h2>
    <ul style="list-style-type: none; padding: 0; text-align: center">
      {% for number in numbers %} {% if number > 0 and number < 4%}
      <div><li style="display: inline; margin: 0 10px">{{ number }}</li></div>
      {% else %} {% endif %} {% endfor %}
    </ul>
  </body>
</html>
